.dropdown {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 12vh;
  margin: 5rem 0 0 0;
}

.dropdownContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1150px;
  margin-left: 1.5rem;
}

.selectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px 5px 12px;
  width: 240px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  cursor: pointer;
}

.selectWrapper:hover {
  border: solid 1px #888;
}

.defaultText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

.optionList {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 2px 2px 0 #dad8d8;
  top: 100%;
  left: 0;
  width: 240px;
  height: 139px;
  background-color: #fff;
  z-index: 1;
}

.options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 50px;
}

.options:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.iconsDropdown {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 15px;
}

.topics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #343434;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
