.newsListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

.newsListWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1150px;
  flex-wrap: wrap;
}

.newsListCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 550px;
  height: 90px;
  border: solid 2px #ccc;
  border-radius: 6px;
  margin: 18px auto;
  transition: all 0.21s ease-in-out;
}

.newsListCard:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.21s ease-in-out;
}

.timeStamp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 300;
  color: #000;
  gap: 8px;
  margin-bottom: 3px;
}

.titleNewsList {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #6b6b6b;
  margin-left: 3px;
  width: 85%;
}

.likedNewsListCard {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 86.1px;
  border-radius: 0 6px 6px 0;
  background-color: #eee;
}

@media screen and (max-width: 1300px) {
  .newsListWrapper {
    max-width: 1100px;
  }
  .newsListCard {
    width: 480px;
  }

  .titleNewsList {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .newsListWrapper {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 530px) {
  .newsListCard {
    width: 400px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }

  .likedNewsListCard {
    width: 70px;
    height: 116px;
  }

  .titleNewsList {
    font-size: 0.8rem;
    margin-top: 3px;
    width: 71%;
  }
}

@media screen and (max-width: 450px) {
  .newsListCard {
    width: 330px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
}
