.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 114px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(#ececec -32%, #fff 124%);
}

.navbarWrapper {
  display: flex;
  width: 100%;
  max-width: 1150px;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  font-size: 1.75rem;
  font-family: "Baskerville", Times, serif;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .navbarWrapper {
    max-width: 1100px;
  }
}

@media screen and (max-width: 768px) {
  .navbarWrapper {
    justify-content: center;
    margin-left: 30px;
  }
}
